<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>actual_power</key>
		<integer>1</integer>
		<key>atack_type</key>
		<integer>1</integer>
		<key>battle_count</key>
		<integer>0</integer>
		<key>battle_enable</key>
		<false/>
		<key>body_color_type</key>
		<integer>0</integer>
		<key>button_color_type</key>
		<integer>0</integer>
		<key>digimon_id</key>
		<integer>24</integer>
		<key>dm</key>
		<integer>0</integer>
		<key>dot_color_type</key>
		<integer>1</integer>
		<key>dp</key>
		<integer>5</integer>
		<key>dp_half</key>
		<true/>
		<key>egg_id</key>
		<integer>24</integer>
		<key>frame_color_type</key>
		<integer>0</integer>
		<key>health</key>
		<integer>-6</integer>
		<key>health_elapsed_minutes</key>
		<integer>0</integer>
		<key>health_interval_minutes</key>
		<integer>0</integer>
		<key>hidden_power</key>
		<real>0.05000000074505806</real>
		<key>hidden_power_rate</key>
		<integer>1</integer>
		<key>hungry</key>
		<integer>7</integer>
		<key>hungry_death_minutes</key>
		<integer>30</integer>
		<key>hungry_elapsed_minutes</key>
		<integer>0</integer>
		<key>hungry_interval_minutes</key>
		<integer>5</integer>
		<key>isLiving</key>
		<false/>
		<key>is_calling</key>
		<false/>
		<key>is_egg</key>
		<false/>
		<key>is_injured</key>
		<false/>
		<key>is_sick</key>
		<false/>
		<key>is_sleeping</key>
		<false/>
		<key>jogress_enable</key>
		<false/>
		<key>level</key>
		<integer>0</integer>
		<key>life</key>
		<integer>84</integer>
		<key>lifetime</key>
		<integer>0</integer>
		<key>light_on</key>
		<true/>
		<key>max_dp</key>
		<integer>8</integer>
		<key>max_eat</key>
		<integer>8</integer>
		<key>min_weight</key>
		<integer>5</integer>
		<key>number_unko</key>
		<integer>0</integer>
		<key>pendulum_type</key>
		<integer>3</integer>
		<key>potential_power</key>
		<integer>1</integer>
		<key>progress_counter</key>
		<integer>1</integer>
		<key>protein_count</key>
		<integer>0</integer>
		<key>reaction</key>
		<true/>
		<key>sleep_time</key>
		<integer>-1</integer>
		<key>slept_time</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>4</integer>
		<key>strength_death_minutes</key>
		<integer>30</integer>
		<key>strength_elapsed_minutes</key>
		<integer>4</integer>
		<key>strength_interval_minutes</key>
		<integer>5</integer>
		<key>type</key>
		<integer>0</integer>
		<key>unko_elapsed_minutes</key>
		<integer>0</integer>
		<key>unko_intetrval_minutes</key>
		<integer>10</integer>
		<key>wakeup_time</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>5</integer>
		<key>win_count</key>
		<integer>0</integer>
		<key>wokeup_time</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>actual_power</key>
		<integer>1</integer>
		<key>atack_type</key>
		<integer>1</integer>
		<key>battle_count</key>
		<integer>0</integer>
		<key>battle_enable</key>
		<false/>
		<key>body_color_type</key>
		<integer>1</integer>
		<key>button_color_type</key>
		<integer>1</integer>
		<key>digimon_id</key>
		<integer>24</integer>
		<key>dm</key>
		<integer>0</integer>
		<key>dot_color_type</key>
		<integer>1</integer>
		<key>dp</key>
		<integer>5</integer>
		<key>dp_half</key>
		<true/>
		<key>egg_id</key>
		<integer>24</integer>
		<key>frame_color_type</key>
		<integer>1</integer>
		<key>health</key>
		<integer>-6</integer>
		<key>health_elapsed_minutes</key>
		<integer>0</integer>
		<key>health_interval_minutes</key>
		<integer>0</integer>
		<key>hidden_power</key>
		<real>0.05000000074505806</real>
		<key>hidden_power_rate</key>
		<integer>1</integer>
		<key>hungry</key>
		<integer>7</integer>
		<key>hungry_death_minutes</key>
		<integer>30</integer>
		<key>hungry_elapsed_minutes</key>
		<integer>0</integer>
		<key>hungry_interval_minutes</key>
		<integer>5</integer>
		<key>isLiving</key>
		<true/>
		<key>is_calling</key>
		<false/>
		<key>is_egg</key>
		<false/>
		<key>is_injured</key>
		<false/>
		<key>is_sick</key>
		<false/>
		<key>is_sleeping</key>
		<false/>
		<key>jogress_enable</key>
		<false/>
		<key>level</key>
		<integer>0</integer>
		<key>life</key>
		<integer>84</integer>
		<key>lifetime</key>
		<integer>0</integer>
		<key>light_on</key>
		<true/>
		<key>max_dp</key>
		<integer>8</integer>
		<key>max_eat</key>
		<integer>8</integer>
		<key>min_weight</key>
		<integer>5</integer>
		<key>number_unko</key>
		<integer>0</integer>
		<key>pendulum_type</key>
		<integer>3</integer>
		<key>potential_power</key>
		<integer>1</integer>
		<key>progress_counter</key>
		<integer>1</integer>
		<key>protein_count</key>
		<integer>0</integer>
		<key>reaction</key>
		<true/>
		<key>sleep_time</key>
		<integer>-1</integer>
		<key>slept_time</key>
		<integer>0</integer>
		<key>strength</key>
		<integer>4</integer>
		<key>strength_death_minutes</key>
		<integer>30</integer>
		<key>strength_elapsed_minutes</key>
		<integer>4</integer>
		<key>strength_interval_minutes</key>
		<integer>5</integer>
		<key>type</key>
		<integer>0</integer>
		<key>unko_elapsed_minutes</key>
		<integer>0</integer>
		<key>unko_intetrval_minutes</key>
		<integer>10</integer>
		<key>wakeup_time</key>
		<integer>0</integer>
		<key>weight</key>
		<integer>5</integer>
		<key>win_count</key>
		<integer>0</integer>
		<key>wokeup_time</key>
		<integer>0</integer>
	</dict>
	<string>2012/10/18 12:28</string>
</array>
</plist>
